$SlateDark: #141115;

.FooterBox {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #151515;

    .Footer {
        display: flex;
        padding: 4rem 2rem;
        width: 100%;
        flex-direction: column;
        max-width: 150rem;
        .Bottom {
            display: flex;
            justify-content: space-between;
            width: 100%;
            // border-top: 0.02rem solid #3b3b3b;
            background-color: #1e1e1e;
            padding: 2rem 0rem 0rem 2rem;
            padding: 2rem;
            border-radius: 1rem;
            .Copyright {
                display: flex;
                gap: 2rem;
                align-items: center;
                .CopyrightText {
                    color: #8e8d8d;
                    font-family: Plus Jakarta Sans;
                    font-family: Inter;
                    font-size: 1.45rem;
                    font-style: normal;
                    font-weight: 600;
                    // text-transform: uppercase;
                    line-height: 100%; /* 1.7rem */
                    letter-spacing: -0.02rem;
                }

                .DTFLogo {
                    height: 3rem;
                }
            }

            .InstagramLink {
                .Logo {
                    height: 3.4rem;
                }
            }
        }
        .FooterContent {
            display: flex;
            flex-direction: row;
            gap: 5rem;
            display: flex;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @media only screen and (max-width: 1000px) {
                flex-direction: column;
                align-items: flex-end
            }

            .FollowGraphics {
                height: 20rem;

                @media only screen and (max-width: 480px) {
                    width: 100%;
                }
            }

            .AllLinks {
                display: flex;
                // width: 100%;
                flex-direction: row;
                justify-content: flex-start;
                gap: 10rem;
                width: 100%;

                @media only screen and (max-width: 1040px) {
                    gap: 4rem;
                }

                @media only screen and (max-width: 615px){
                    gap: 1rem;
                }

                @media only screen and (max-width: 615px) {
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                }

                .LinkContainer {
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;
                    padding: 2rem 0rem 4rem 0rem;
                    .LinkListLabel {
                        color: #979797;
                        font-family: Plus Jakarta Sans;
                        font-size: 1.15rem;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 100%;
                        letter-spacing: 0.05rem;
                        @media only screen and (max-width: 915px){
                            font-size: 1rem;
                        }
                    }
                    .LinksList {
                        display: flex;
                        flex-direction: column;
                        gap: 2.5rem;
                        .LinkInline {
                            color: #fff;
                            text-decoration: none;
                            font-family: Inter;
                            font-size: 1.7rem;
                            font-style: normal;
                            display: inline-flex;
                            font-weight: 500;
                            line-height: 100%; /* 2rem */
                            letter-spacing: -0.02rem;
                            flex-wrap: nowrap;
                            flex-shrink: 0;
                            // text-transform: uppercase;
                            &:hover {
                                text-decoration: underline;
                            }

                            @media only screen and (max-width: 915px) {
                                font-size: 2rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
