/* TshirtSizeSelect.module.scss */

.TextInput {
    border-radius: 2rem;
    border: 0.02rem solid #b4b4b4;

    display: flex;
    font-family: Plus Jakrata Sans;
    outline: none;

    font-size: 2rem;
    padding: 1rem 3rem;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

