.Wraper {
    margin-top: 9rem;

    height: 100%;
    padding: 0rem 2rem;

    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    .ScreenContainer {
        max-width: 150rem;
        width: 100%;
        gap: 2rem;
        display: flex;
        .ContainerOne {
            display: flex;
            border-radius: 2rem;
            background: #e5e5e4;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            max-width: 80rem;
            // min-width: 25rem;
            gap: 0rem;
            overflow: hidden;
            object-fit: contain;
            flex-direction: column;
            padding: 10rem 0rem 2rem 0rem;

            .SwagsPic {
                object-fit: contain;
                width: 100%;
            }

            .CardLabel {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 2.5rem;
                padding: 2rem 4rem;
                .CardSubHeading {
                    color: #000;
                    font-family: Plus Jakarta Sans;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 1.5rem */
                    letter-spacing: 0.15rem;
                    text-transform: uppercase;
                }
                .CardTitle {
                    color: #000;
                    text-align: center;
                    font-family: Nyght Serif;
                    font-size: 5rem;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 100%; /* 8rem */
                    letter-spacing: -0.1rem;
                }
            }
        }

        .ContainerTwo {
            display: flex;
            border-radius: 2rem;
            background: #f1f1f1;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            gap: 5rem;
            overflow: hidden;
            object-fit: contain;
            flex-direction: column;
            // padding: 6rem 4rem;
            padding: 4rem 2rem 2rem 2rem;

            max-width: 50rem;

            .SwagPic{
                height: 30rem;
            }

            .CardLabel {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 2rem;
                padding: 2rem 4rem;
                width: 100%;
                .CardSubHeading {
                    color: #000;
                    font-family: Plus Jakarta Sans;
                    font-size: 1.3rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 100%; /* 1.5rem */
                    letter-spacing: 0.15rem;
                }
                .CardTitle {
                    color: #000;
                    text-align: center;
                    font-family: Nyght Serif;
                    font-size: 5rem;
                    font-style: italic;
                    font-weight: 500;
                    line-height: 100%; /* 8rem */
                    letter-spacing: -0.1rem;
                }
            }

            .InputBox {
                display: flex;
                width: 100%;
                gap: 0.3rem;
                flex-direction: column;
                .InputBar {
                    padding: 2.5rem 3rem;
                    width: 100%;
                    border-radius: 1.5rem;
                    font-family: DTF Regular;
                    font-size: 2.5rem;
                    letter-spacing: 0rem;

                    border: 0.3rem solid #cfcfcf;

                    outline: none;
                    transition: 0.2s ease-in-out;
                    &:hover {
                        border: 0.3rem solid #616161;
                    }

                    &:focus {
                        border: 0.3rem solid #151515;
                    }
                }
            }

            .SubmitButton {
                display: flex;
                width: 100%;
                padding: 2.5rem 3rem;
                justify-content: center;
                align-items: center;
                gap: 2rem;

                color: #fff;
                text-align: center;

                border-radius: 1.5rem;
                cursor: pointer;
                background: #151515;

                font-family: DTF Regular;
                font-size: 2.5rem;
                font-style: italic;
                font-weight: 400;
                outline: none;
                border: none;
                line-height: 100%; /* 3.6rem */
            }
        }
    }
}
