@font-face {
  font-family: Thunder;
  src: url("/Thunder-ExtraBoldHC.ttf");
}

.HeroContainer {
  background-color: #a3a0f7;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  min-height: 50rem;

  
  .marqueeContainer {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    z-index: 250;
    white-space: nowrap;

  
    .marqueeContent {
      text-decoration: none;
      display: inline-block;
      animation: marquee 100s linear infinite;
      font-family: Plus Jakarta Sans;
      letter-spacing: 0.2rem;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.2rem;
      background-color: #fff;
      color: #111;
      padding: 2rem;
    }
    
    @keyframes marquee {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }


  .OverlayText {
    // margin-top: 10rem;
    position: absolute;
    z-index: 150;
    height: 100vh;
    padding: 10rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // mix-blend-mode: overlay;

    .Title {
      color: #fff;
      font-family: Thunder;
      font-size: 200px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      text-transform: uppercase;
      position: relative;
      line-height: 75%;
      .CircularBadge {
        position: absolute;
        top: -30%;
        left: -8%;
        // transform: translateX(50rem);
        animation: rotate 10s infinite linear;
        border-radius: 50rem;
        mix-blend-mode: luminosity;
        height: 12rem;
        width: 12rem;
        padding: 0.5rem;
        @keyframes rotate {
          0% {
            rotate: (0deg);
          }
          100% {
            rotate: (360deg);
          }
        }
      }
    }
  }
  .AnimatedBackground {
    overflow: hidden;
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    gap: 0rem;
    align-items: center;
    justify-content: center;
    .BlurCover {
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: row;
      position: absolute;

      .BlurComponent {
        z-index: 100;
        width: 80rem;
        height: 100vh;
        background: rgba(242, 234, 244, 0.01);
        box-shadow: 34.1637px 0px 187.90036px -597.86475px rgba(0, 0, 0, 0.01) inset;
        backdrop-filter: blur(20px);
      }
    }

    .Ellipse {
      z-index: 10;
      height: 110rem;
      animation: moveLeftRight 5s infinite alternate ease-in-out;
      @keyframes moveLeftRight {
        0% {
          transform: translateX(-500px);
        }
        100% {
          transform: translateX(500px);
        }
      }
    }
  }
}






.ProjectsContainer {
  height: 100vh;
}
